*{
  font-size: 20pt;
}

body {
  margin: 0;
  background-color: rgb(255, 255, 247);
  font-family: 'poppins';
  height: 90vh;
  
}

code {
  font-family: 'poppins';
  font-weight: bold;
  color: rgb(255, 57, 57);
}


#root{
 
  height: 100%;
  
 
}

.mainNav{
  text-decoration: none;
  display: flex;
  justify-content: space-around;

  margin: 0;
  background-color: rgb(127, 170, 255);
}


.mainNav a{
  width: 100%;
  text-align: center;
}

.mainNav a:hover{
 background-color: rgba(0, 112, 74, 0.386);
}

.active{
  background-color: rgb(73, 103, 255);
  color: white;
  font-weight: bold;
}

a{
  text-decoration: none;
}

pre{
  background-color: black;
}

.arrayMethods:hover{
  background-color: rgb(145, 197, 255);
  cursor: pointer;
}

